<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"40px","left":"40px","top":"40px","bottom":"40px"}}},"backgroundColor":"ast-global-color-5","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-ast-global-color-5-background-color has-background" style="padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px"><!-- wp:cover {"url":"https://motherearth93.files.wordpress.com/2023/04/whatsapp-image-2023-04-27-at-10.40.03-pm.jpeg","id":41,"dimRatio":0,"minHeight":536,"minHeightUnit":"px","align":"full"} -->
<div class="wp-block-cover alignfull" style="min-height:536px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-41" alt="" src="https://motherearth93.files.wordpress.com/2023/04/whatsapp-image-2023-04-27-at-10.40.03-pm.jpeg" data-object-fit="cover" /><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size">𝑬𝒔 𝒎𝒐𝒎𝒆𝒏𝒕𝒐 𝒅𝒆 𝒄𝒂𝒎𝒃𝒊𝒂𝒓 𝒆𝒍 𝒎𝒖𝒏𝒅𝒐</p>
<!-- /wp:paragraph -->

<!-- wp:gallery {"linkTo":"none"} -->
<figure class="wp-block-gallery has-nested-images columns-default is-cropped"><!-- wp:image {"id":38,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://motherearth93.files.wordpress.com/2023/04/whatsapp-image-2023-04-27-at-10.31.26-pm-1-1.jpeg?w=1024" alt="" class="wp-image-38" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":39,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://motherearth93.files.wordpress.com/2023/04/whatsapp-image-2023-04-27-at-10.31.27-pm-1-1.jpeg?w=1024" alt="" class="wp-image-39" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":42,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://motherearth93.files.wordpress.com/2023/04/pxfuel-4.jpg?w=1024" alt="" class="wp-image-42" /></figure>
<!-- /wp:image --></figure>
<!-- /wp:gallery --></div></div>
<!-- /wp:cover -->

<!-- wp:heading {"textAlign":"center","level":1,"textColor":"ast-global-color-2"} -->
<h1 class="wp-block-heading has-text-align-center has-ast-global-color-2-color has-text-color">𝓜𝓔𝓙𝓞𝓡𝓔𝓜𝓞𝓢 𝓙𝓤𝓝𝓣𝓞𝓢 𝓛𝓐 𝓝𝓐𝓣𝓤𝓡𝓐𝓛𝓔𝓩𝓐</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"ast-global-color-3"} -->
<p class="has-text-align-center has-ast-global-color-3-color has-text-color">Comienza a informarte de como poder mejorar y contribuir al cambio </p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"color":{"text":"#000000","background":"#ffffff"},"spacing":{"padding":{"top":"7vw","bottom":"7vw"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-text-color has-background" style="color:#000000;background-color:#ffffff;margin-top:0px;margin-bottom:0px;padding-top:7vw;padding-bottom:7vw"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"id":43,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://motherearth93.files.wordpress.com/2023/04/pxfuel-5.jpg?w=1024" alt="" class="wp-image-43" /></figure>
<!-- /wp:image -->

<!-- wp:heading {"level":3,"style":{"typography":{"fontSize":35,"lineHeight":"1.26"}},"className":"margin-bottom-half"} -->
<h3 class="wp-block-heading margin-bottom-half" style="font-size:35px;line-height:1.26"><strong>Caminemos hacia el cambio</strong></h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":17,"lineHeight":"1.65"}},"className":"margin-top-half"} -->
<p class="margin-top-half" style="font-size:17px;line-height:1.65">Cada vez que tomamos una decisión consciente para reducir nuestro impacto ambiental, como reciclar, reducir el uso de plásticos, utilizar transporte sostenible, o apoyar a empresas y organizaciones que promueven prácticas sostenibles, estamos protegiendo y preservando la belleza y diversidad de nuestro planeta para las generaciones futuras.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"id":44,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://motherearth93.files.wordpress.com/2023/04/whatsapp-image-2023-04-27-at-10.42.32-pm.jpeg?w=1024" alt="" class="wp-image-44" /></figure>
<!-- /wp:image -->

<!-- wp:heading {"level":3,"style":{"typography":{"fontSize":35,"lineHeight":"1.26"}},"className":"margin-bottom-half"} -->
<h3 class="wp-block-heading margin-bottom-half" style="font-size:35px;line-height:1.26"><strong>Maravillas y bellezas de la naturaleza</strong></h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":17,"lineHeight":"1.65"}},"className":"margin-top-half"} -->
<p class="margin-top-half" style="font-size:17px;line-height:1.65">La naturaleza es un regalo increíblemente valioso que se nos ha otorgado, lleno de maravillas y bellezas que son esenciales para nuestra supervivencia y bienestar emocional. Debemos tratarla con el respeto y el cuidado que se merece, para que las generaciones futuras puedan disfrutar de ella tanto como nosotros. Cada acción que tomamos en nuestro día a día, ya sea pequeña o grande, puede marcar la diferencia en la protección y preservación de nuestro planeta.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:media-text {"align":"full","mediaId":45,"mediaLink":"https://motherearth93.wordpress.com/pxfuel-6/","mediaType":"image","imageFill":true,"backgroundColor":"white"} -->
<div class="wp-block-media-text alignfull is-stacked-on-mobile is-image-fill has-white-background-color has-background"><figure class="wp-block-media-text__media" style="background-image:url(https://motherearth93.files.wordpress.com/2023/04/pxfuel-6.jpg?w=1024);background-position:50% 50%"><img src="https://motherearth93.files.wordpress.com/2023/04/pxfuel-6.jpg?w=1024" alt="" class="wp-image-45 size-full" /></figure><div class="wp-block-media-text__content"><!-- wp:cover {"overlayColor":"white","minHeight":95,"minHeightUnit":"vh","isDark":false} -->
<div class="wp-block-cover is-light" style="min-height:95vh"><span aria-hidden="true" class="wp-block-cover__background has-white-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group has-black-color has-text-color has-link-color"><!-- wp:image {"align":"center","id":49,"sizeSlug":"large","linkDestination":"none","className":"is-style-rounded"} -->
<figure class="wp-block-image aligncenter size-large is-style-rounded"><img src="https://motherearth93.files.wordpress.com/2023/04/276244646_157792483315257_8673467969159937897_n.jpg?w=960" alt="" class="wp-image-49" /></figure>
<!-- /wp:image -->

<!-- wp:site-title {"textAlign":"center","isLink":false,"style":{"typography":{"fontSize":"3rem","textTransform":"capitalize","letterSpacing":"0px","textDecoration":"none"}}} /-->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">La naturaleza es una obra de arte viva y en constante cambio, por lo que debemos esforzarnos por preservar su belleza para las generaciones futuras.</p>
<!-- /wp:paragraph -->

<!-- wp:social-links {"iconColor":"black","iconColorValue":"#000000","className":"is-style-logos-only","layout":{"type":"flex","justifyContent":"center"}} -->
<ul class="wp-block-social-links has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"https://instagram.com","service":"instagram"} /-->

<!-- wp:social-link {"url":"https://www.tiktok.com","service":"tiktok"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div></div>
<!-- /wp:media-text -->

<!-- wp:media-text {"align":"full","mediaPosition":"right","mediaId":50,"mediaLink":"https://motherearth93.wordpress.com/whatsapp-image-2023-04-27-at-10-48-05-pm/","mediaType":"image","imageFill":true,"backgroundColor":"white"} -->
<div class="wp-block-media-text alignfull has-media-on-the-right is-stacked-on-mobile is-image-fill has-white-background-color has-background"><div class="wp-block-media-text__content"><!-- wp:cover {"overlayColor":"white","minHeight":509,"minHeightUnit":"px","contentPosition":"center center","isDark":false} -->
<div class="wp-block-cover is-light" style="min-height:509px"><span aria-hidden="true" class="wp-block-cover__background has-white-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"textColor":"black","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group has-black-color has-text-color has-link-color"><!-- wp:image {"align":"center","id":48,"sizeSlug":"large","linkDestination":"none","className":"is-style-rounded"} -->
<figure class="wp-block-image aligncenter size-large is-style-rounded"><img src="https://motherearth93.files.wordpress.com/2023/04/263138771_271033841748511_6219560108254128394_n.jpg?w=1024" alt="" class="wp-image-48" /></figure>
<!-- /wp:image -->

<!-- wp:site-title {"textAlign":"center","isLink":false,"style":{"typography":{"fontSize":"3rem","textTransform":"capitalize","letterSpacing":"0px","textDecoration":"none"}}} /-->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Cada pequeña acción que hacemos en nuestro día a día para cuidar la naturaleza, es un paso importante hacia un futuro más verde y sostenible para todos.</p>
<!-- /wp:paragraph -->

<!-- wp:social-links {"iconColor":"black","iconColorValue":"#000000","className":"is-style-logos-only","layout":{"type":"flex","justifyContent":"center"}} -->
<ul class="wp-block-social-links has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"https://instagram.com","service":"instagram"} /-->

<!-- wp:social-link {"url":"https://www.tiktok.com","service":"tiktok"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div><figure class="wp-block-media-text__media" style="background-image:url(https://motherearth93.files.wordpress.com/2023/04/whatsapp-image-2023-04-27-at-10.48.05-pm.jpeg?w=1024);background-position:50% 50%"><img src="https://motherearth93.files.wordpress.com/2023/04/whatsapp-image-2023-04-27-at-10.48.05-pm.jpeg?w=1024" alt="" class="wp-image-50 size-full" /></figure></div>
<!-- /wp:media-text --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->